#drawing-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

#drawing-tools .active {
    color: #ef0057;
}

#playback-controls {
    position: absolute;
    bottom: 20px;
    width: 200px;
    z-index: 10;
    background: #7f4dff;
    border: solid 1px #9267ff;
    box-sizing: border-box;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px;
    border-radius: 50px;
    color: #FFF;
    justify-content: center;
    gap: 20px;
}

#playback-controls button:hover {
    color: #4a25a9;
}

#layers {
    min-height: 100px;
    overflow-y: auto;
}

#layers:empty:before {
    content: "No media uploaded...";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 40px;
}

#plugins {
    flex-grow: 1;
    min-height: 400px;
}

.holder_heading {
    background-color: #201a33;
    padding: 15px;
    font-weight: 400;
}

.reset-default {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    outline: none;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

#plugins .select_plugin {
    display: flex;
    padding: 20px 15px;
    gap: 10px;
}

#plugins .endpoint_parameters {
    padding: 0 15px;
}

#plugins .select_plugin label,
#plugins .endpoint_parameters > label {
    display: block;
    margin-bottom: 7px;
}

#plugins .select_plugin > div {
    flex-grow: 1;
}

#plugins .select_plugin select {
    width: 100%;
    display: block;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
}