#playback-controls {
    position: absolute;
    bottom: 20px;
    width: 200px;
    background: #7f4dff;
    border: solid 1px #9267ff;
    box-sizing: border-box;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px;
    border-radius: 50px;
    color: #FFF;
    justify-content: center;
    gap: 20px;
}

#playback-controls button:hover {
    color: #4a25a9;
}

#layers:empty:before {
    content: "No media uploaded...";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 40px;
}

.reset-default {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    outline: none;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}